.wrapper {
  padding: 15px;
}

.galleryList {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

.galleryItem {
  margin: 5px;
  list-style-type: none;
  display: flex;
}

.galleryLink {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.galleryImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
